#################
## Eclipse
#################

JHEMRV5/MRFirstPagesBJ/bin/*
JHEMRV5/MRFirstPagesBJ/obj/*
JHEMRV5/EMRCISAdapter/bin/*
JHEMRV5/EMRCISAdapter/obj/*
JHEMRV5/EMRHisCustom/bin/*
JHEMRV5/EMRHisCustom/obj/*
JHEMRV5/MRFirstPages/bin/*
JHEMRV5/MRFirstPages/obj/*